.botones-acciones {
  display: flex;
  gap: 0.5rem; // Horizontal
  width: 100%;
  padding-bottom: 0.2rem;  // Tendría que ser dinámico este estilo. (If Buscar solamente)
  scroll-behavior: smooth;
}

.botones-acciones button {
  white-space: nowrap; /* Evita el salto de línea en el texto de los buttons */
}
