:host {
  display: flex; // El componente es un flex container
  flex-direction: column;
  height: 100%; // Ocupa toda la altura del grid item
}


.transaccion-card {
  background: #f8f8f8;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  flex: 1; // La card se expande para llenar el espacio
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.btn-icono {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

// .card-header {
//   // Estilos adicionales a futuro.
// }

.card-body {
  // Estilos adicionales a futuro.
  flex: 1;
}

// .card-footer {
//   // Estilos adicionales a futuro.
// }
