<h2>Lista de transacciones</h2>

<app-widget title="Transacciones" [minWidth]="285" [minHeight]="378" #widgetRef>
  <div class="transacciones-widget-content" [style.height.px]="widgetRef.bodyHeight">
    <div class="acciones">
      <app-transacciones-actions
        [mostrarFormulario]="mostrarFormulario"
        [mostrarComprobante]="mostrarComprobante" 
        [mostrarBuscador]="mostrarBuscador"
        (nuevaTransaccion)="showForm()"
        (abrirBuscador)="showBuscador()">
      </app-transacciones-actions>
      <app-transacciones-filtros
        *ngIf="mostrarBuscador"
        [mostrarFormulario]="mostrarFormulario"
        [mostrarComprobante]="mostrarComprobante"
        [mostrarBuscador]="mostrarBuscador"
        [categorias]="categorias"
        [filtros]="filtros"
        (filtroChange)="onFiltroChange()"
        (limpiarFiltros)="limpiar()"
        (cerrarFiltros)="cerrarBuscador()">
      </app-transacciones-filtros>
    </div>    

    <!-- Cards -->

    <div class="transacciones-container" #contenedorTransacciones [class.blur]="mostrarFormulario || mostrarComprobante">
      <app-transaccion-card
        *ngFor="let transaccion of transacciones"
        [transaccion]="transaccion"
        (editar)="editarTransaccion($event)"
        (eliminar)="eliminarTransaccion($event)"
        (verComprobante)="verComprobante($event)">
      </app-transaccion-card>
    </div>

  </div>

  <!-- Formulario de creación/edición -->

  <div *ngIf="mostrarFormulario" class="form-overlay" [class.blur]="comprobanteSobreFormulario">
    <app-transaccion-form
      [nuevaTransaccion]="nuevaTransaccion"
      [categorias]="categorias"
      [tiposTransaccion]="tiposTransaccion"
      [editingId]="editingId"
      [usarFechaPersonalizada]="usarFechaPersonalizada"
      (usarFechaPersonalizadaChange)="usarFechaPersonalizada = $event"
      [tieneComprobanteExistente]="tieneComprobanteExistente"
      [agregarComprobante]="agregarComprobante"
      [eliminarComprobante]="eliminarComprobante"
      (eliminarComprobanteChange)="eliminarComprobante = $event"
      (agregarComprobanteChange)="agregarComprobante = $event"
      [isSubmitting]="isProcessing"

      (submit)="onSubmit()"
      (cancelar)="cancelarCreacion()"
      (verComprobante)="verComprobante($event, true)"
      (fileSelected)="onFileSelected($event)">
    </app-transaccion-form>
  </div>

  <!-- Comprobante -->

  <div class="comprobante-overlay" *ngIf="mostrarComprobante">
    <div class="contenedor-comprobante">
      <button class="btn-cerrar" (click)="cerrarComprobante()">✕</button>
      <!-- PDF -->
      <iframe *ngIf="esPDF() && comprobanteUrl" [src]="comprobanteUrl"></iframe>
      <!-- Imagen -->
      <img *ngIf="esImagen() && comprobanteUrl" [src]="comprobanteUrl" />
      <!-- Texto -->
      <div *ngIf="esTexto()" class="texto-container">
        <pre>{{ contenidoTexto }}</pre>
      </div>
    </div>
  </div>
</app-widget>
