<!-- Formulario de búsqueda/filtrado -->

<div class="filtros-container">

  <div *ngIf="mostrarBuscador" class="filtros-acciones">
    <input type="text"
           [(ngModel)]="filtros.descripcion"
           (input)="onFiltroChange()"
           name="descripcion"
           placeholder="Buscar descripción..."
           [disabled]="mostrarFormulario || mostrarComprobante" />

    <button (click)="limpiar()"
            [disabled]="mostrarFormulario || mostrarComprobante">Limpiar</button>
    <button (click)="cerrarBuscador()"
            [disabled]="mostrarFormulario || mostrarComprobante">Cerrar</button>
  </div>

  <div *ngIf="mostrarBuscador" class="filtros-acciones">
    <select [(ngModel)]="filtros.tipo" name="tipo"
            (change)="onFiltroChange()"
            [disabled]="mostrarFormulario || mostrarComprobante">
      <option value="">Todos los tipos</option>
      <option value="Ingreso">Ingreso</option>
      <option value="Gasto">Gasto</option>
    </select>

    <select [(ngModel)]="filtros.categoria" name="categoria"
            (change)="onFiltroChange()"
            [disabled]="mostrarFormulario || mostrarComprobante">
      <option value="">Todas las categorías</option>
      <option *ngFor="let cat of categorias" [value]="cat">{{ cat }}</option>
    </select>

    <select [(ngModel)]="filtros.mimeType" name="mimeType"
            (change)="onFiltroChange()"
            [disabled]="mostrarFormulario || mostrarComprobante">
      <option value="">Todos los tipos de comprobante</option>
      <option value="application/pdf">PDF</option>
      <option value="image/png">Imagen (PNG)</option>
      <option value="image/jpeg">Imagen (JPG)</option>
      <option value="text/plain">Texto</option>
    </select>
  </div>

  <div *ngIf="mostrarBuscador" class="filtros-acciones">
    <label>
      Desde:
      <input type="date" [(ngModel)]="filtros.desde"
             name="desdeFecha"
             [max]="filtros.hasta || today"
             (change)="onFiltroChange()"
             [disabled]="mostrarFormulario || mostrarComprobante" />
    </label>
    <label>
      Hasta:
      <input type="date" [(ngModel)]="filtros.hasta"
             name="hastaFecha"
             [min]="filtros.desde || ''"
             [max]="today"
             (change)="onFiltroChange()"
             [disabled]="mostrarFormulario || mostrarComprobante" />
    </label>
  </div>

  <div *ngIf="mostrarBuscador" class="filtros-acciones">
    <!-- ¿ Montos mínimo y máximo?-->
  </div>

</div>
