.form-transaction {
  position: absolute;
  top: 52px; // Below the navbar
  left: 50%;
  transform: translateX(-50%);
  width: min(90%, 380px);
  max-height: calc(100% - 80px); 
  overflow-y: auto;
  pointer-events: auto; // Re-enables interaction with the form.
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: #f1f1f1;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 1px solid black;
  padding: 1rem;
  box-sizing: border-box;
 }

.form-transaction input,
.form-transaction select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-transaction button {
  padding: 0.5rem;
}

small {
  color: grey;
  font-style: italic;
  text-align: center;

  button {
      margin-left: 5px;
      margin-top: 5px;
      margin-bottom: 5px;
  }
}

.label-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.3);
    border-radius: 10px;

    &:hover {
      background: rgba(0,0,0,0.5);
    }
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.form-transaction {
  @include custom-scrollbar;
}
